<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felicitaciones</title>
    <link rel="stylesheet" href="/css/felicitaciones.css">
</head>
<!-- MENU NAVEGACIÓN -->
<%- include("./partials/header.ejs")%>

    <body>
        <h1>Ahora encuentra tu Amigo Secreto Código Moda</h1>
        <h2>Tu grupo es: <%= group.nameGroup %> </h2>
        <p>La fecha de la primera endulzada es: <strong><%= group.fechaEndulzada1 %></strong> y el valor es de <strong><%= group.valorEndulzada1 %></strong></p>
        <p>La fecha de la segunda endulzada es: <strong><%= group.fechaEndulzada2 %></strong> y el valor es de <strong><%= group.valorEndulzada2 %></strong></p>
        <p>La fecha del descubrimiento es: <strong><%= group.fechaDescubrimiento %></strong>, el valor es de <strong><%= group.valorDescubrimiento %></strong> y el lugar es en <strong><%= group.lugarDescubrimiento %></strong></p>
            <div class="select-wrap" id="personaEnvuelta">
                <div class="opciones">
                   
                    <% users.forEach((u) => { %>
                        <option value="<%= u.id %>" class="option" id="<% u.name%>">
                            <%= u.name %>
                        </option>
                        <% }); %>
                </div>
                <select id="persona">
                    <span class="arrow"></span>
                </select>
            </div>
        <div><button id="elegido">¿Quién es mi amigo secreto?</button></div>
        <div id="resultado">
        </div>
        <div class="close"><span id="cerrado"></span></div>
        <a href="/users/usuarios">Aqui encontraras los gustos, disgustos y alergias de tu amigo secreto!</a>
    </body>
    <script src="/js/encontrarAmigo.js"></script>

</html>